<hr>

<div id="f-badges">
    {{ range $.Site.Menus.badges }}
        {{ $badgeScope := . }}
        {{ with resources.Get .URL }}
            <img style="image-rendering: pixelated;" width="{{ .Width }}" height="{{ .Height }}" src="{{ .RelPermalink }}" alt="{{ $badgeScope.Name }}">
        {{ end }}
    {{ end }}
</div>

{{ range $.Site.Menus.footer }}
    <p><a href="{{ .URL }}">{{ .Name }}</a></p>
{{ end }}

{{ with .Site.Params.geekring_site_id }}
    <b>This site is a proud member of the geekring! Check some other geeky websites here!</b><br>
    <a href="http://geekring.net/site/{{ . }}/previous">Previous site</a> --
    <a href="http://geekring.net/site/{{ . }}/random">Random site</a> --
    <a href="http://geekring.net/site/{{ . }}/next">Next site</a>
{{ end }}

