{{ $arg := .Get "page"}}
{{ $name := .Get "name" }}

{{ $headless := .Site.GetPage $arg }}
{{ $image := ($headless.Resources.ByType "image") }}
{{ with $image }}
{{ range . }}

{{ if eq .Name $name }}


<figure>
{{ $resized := .Resize "x400 webp drawing" }}
<a href="{{ .Permalink }}"><img class="rounded-md" alt="{{ .Name }}" title="{{ .Name }}" height="400px" src="{{ $resized.Permalink }}" /></a>
<figcaption>"{{.Name}}" from <a href="{{.RelPermalink}}">{{ $headless.Title }}</a>.</figcaption>
{{ end }}
</figure>

{{ end }}

{{ end }}
