/* desktop devices */
@media (min-width: 768px) {
    body {
        grid-template:
        "head head"
        "nav  main"
        "nav  foot";
    }
}

/* mobile devices */
@media (max-width: 768px) {
    body {
        grid-template:
        "head"
        "nav"
        "main"
        "foot";
    }
}

body {
    background-color: #eebebe;

    display: grid;
}

header {
    grid-area: head;
}

aside {
    background-color: #e3e3e3;

    width: 250px;

    grid-area: nav;
}

article {
    background-color: #e3e3e3;
    grid-area: main;
}

footer {
    grid-area: foot;
}

