/* desktop devices */
@media (min-width: 768px) {
    aside {
        flex: 200px 0 0;
    }

    header {
        margin: 10px;
    }

    aside {
        margin: 10px;
    }

    article {
        margin: 10px;
    }

    footer {
        margin: 10px;
    }
}

/* mobile devices */
@media (max-width: 768px) {
    aside {
        width: 100%;
    }

    aside div {
        padding: 2px;
    }

    aside div a {
        font-size: 125%;
    }
}

body {
    --accent-color: #d26c6c;

    background-color: #e3e3e3;
    accent-color: var(--accent-color);

    display: flex;
    flex-flow: row wrap;
}

header {
    flex-grow: 1;
    flex-basis: 100%;
}

aside {
    background-color: white;

    text-align: center;

    border: 1px solid black;
    border-radius: 3px;
    padding: 15px;
}

article {
    background-color: white;

    border: 1px solid black;
    border-radius: 3px;

    padding: 15px;

    flex: 2 0;
}

footer {
    background-color: white;

    flex-grow: 1;
    flex-basis: 100%;
}

.article-img {
    width: 100%;
    height: auto;
}

.gallery-img {
    border: 1px black solid;
    border-radius: 5px;
}

figure {
    flex-grow: 1;
    text-align: center;
    margin: 25px;
}

figure figcaption {
    text-align: center;
}

.gallery-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e2d9d9;
}

table {
    width: 100%;
}