{{ define "main" }}
    {{ with .Title }}
        <h2>{{ . }}</h2>
    {{ else }}
        <h2>Untitled Artwork</h2>
    {{ end }}
    <hr>

    {{ with resources.Get .Params.filename }}
        {{ if $.Params.threed }}
            {{ $cameraorbit := $.Params.orbit }}
            {{ $cameratarget := $.Params.target }}
            {{ $fov  := $.Params.fov }}
            <model-viewer style="margin-top: 10px; margin-bottom: 10px;" class="gallery-img" alt="{{ $.Params.alt_text }}" title="{{ $.Params.alt_text }}" src="{{ .RelPermalink }}" shadow-intensity="1" camera-controls touch-action="pan-y" camera-orbit="{{ $cameraorbit }}" camera-target="{{ $cameratarget }}" field-of-view="{{ $fov }}"></model-viewer>
        {{ else }}
            {{ if $.Params.animation }}
                <div style="text-align: center;">
                    <video style="max-width: 100%" class="gallery-img" controls>
                        <source src="{{ .RelPermalink }}" type="video/webm">
                    </video>
                </div>
            {{ else }}
                <img class="gallery-img" style="display: block; max-height: 1000px; margin-left: auto; margin-right: auto; width: auto; margin-top: 10px; margin-bottom: 10px; max-width: 100%; height: auto" alt="{{ $.Params.alt_text }}" title="{{ $.Params.alt_text }}" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
        {{ end }}
    {{ end }}

    {{ partial "voting" . }}

    <table>
        <tr>
            <th>Date</th>
            <td>
                <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted">
                    {{ $.Date.Format "January 2006" }}
                </time>
            </td>
        </tr>

        {{ with .Params.arttags }}
            <tr>
                <th>Tags</th>
                <td>
                    {{ $len := (len .) }}
                    {{ range $index, $element := . }}
                    <a href="/art/tags/{{ urlize . }}/"><strong>{{ $element }}</strong></a>{{ if not (eq (add $index 1) $len) }},{{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}

        {{ with .Params.characters }}
            <tr>
                <th>Characters</th>
                <td>
                    {{ $len := (len .) }}
                    {{ range $index, $element := . }}
                    <a href="/art/characters/{{ urlize .}}/"><strong>{{ $element }}</strong></a>{{ if not (eq (add $index 1) $len) }},{{ end }}
                    {{ end }}
                </td>
            </tr>
        {{ end }}

        {{ with .Params.artist }}
            <tr>
                <th>Artist</th>
                <td>
                    {{ . }}
                </td>
            </tr>
        {{ end }}

        {{ with .Params.program }}
            <tr>
                <th>Program</th>
                <td>
                    {{ . }}
                </td>
            </tr>
        {{ end }}

        {{ with .Params.mastodon_url }}
            <tr>
                <th>Mastodon URL</th>
                <td>
                    <a href="{{ . }}">Mastodon Post</a>
                </td>
            </tr>
        {{ end }}

        {{ with .Params.newgrounds_url }}
            <tr>
                <th>Newgrounds URL</th>
                <td>
                    <a href="{{ . }}">Newgrounds Post</a>
                </td>
            </tr>
        {{ end }}


        {{ with .Params.pixiv_url }}
            <tr>
                <th>Pixiv URL</th>
                <td>
                    <a href="{{ . }}">Pixiv Post</a>
                </td>
            </tr>
        {{ end }}
    </table>

    {{ with .Content }}
        {{ $.Scratch.Set "header-type" "h3" }}
        {{ $.Scratch.Set "header-name" "Commentary" }}
        {{ partial "fake-heading.html" $ }}

        {{ . }}
    {{ end }}

    {{ if .Params.threed }}
        {{ $site := resources.Get "js/model-viewer.min.js" }}
        {{ if hugo.IsProduction }}
            {{ $site = $site | fingerprint | resources.PostProcess }}
        {{ end }}
        <script type="module" src="{{ $site.RelPermalink }}" integrity="{{ $site.Data.Integrity }}"></script>
    {{ end }}

    {{ partial "comments" . }}
{{ end }}
