{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <hr>

    {{ $paginator := .Paginate (where .RegularPagesRecursive "Type" "art") }}

    {{ if eq $paginator.PageNumber 1}}
    <div class="art-outer">
        <div class="art-inner">
            {{ $alertimg := resources.Get "alert.png" }}
            {{ with $.Params.new_banner }}
            <div class="new-banner"><img alt="Alert Icon" width="16" height="16" class="banner-alert-icon" src="{{ $alertimg.RelPermalink }}"><b>{{ . }}</b><img alt="Alert Icon" width="16" height="16" class="banner-alert-icon" src="{{ $alertimg.RelPermalink }}"></div>
            {{ end }}

            <p>Welcome to my art gallery! I have been saving my work since 2016, and this is the most complete archive of my work online. You might also be interested in <a href="/blog/2023/04/breakdown-of-my-static-art-gallery/">how this gallery works and how I maintain it</a>.</p>

            <p>The gallery is sorted by date, but there's other sections to check out such as <a href="/art/guest">Guest Art</a> and <a href="/art/stats/">Stats</a>! You can also filter by <a href="/art/tags">tags</a>, or by <a href="/art/characters">characters</a>.</p>

            <p>You can follow me on <a href="https://mastodon.art/@redstrate">Mastodon</a>, <a href="https://www.pixiv.net/en/users/58118005">Pixiv</a>, <a href="https://redstrate.newgrounds.com/">Newgrounds</a>, or via <a href="/art/index.xml">RSS</a>!</p>
        </div>

        {{ with resources.Get "pics/pic-gallery.png" }}
            <img class="gallery-img page-pic" alt="Drawing of an art gallery with several people standing around a piece hanging on the wall." width="{{ .Width }}" height="{{ .Height }}" src="{{ .RelPermalink }}">
        {{ end }}
    </div>

    <div class="art-button-container">
        <a class="art-button" href="/art/characters">Characters</a>
        <a class="art-button" href="/art/tags">Tags</a>
        <a class="art-button" href="/art/stats">Statistics</a>
        <a class="art-button" href="/art/guest">Guest Art</a>
    </div>
    {{ end }}

    {{ partial "art-gallery" . }}

    {{ partial "art-years" . }}
{{ end }}
