{{ define "main" }}
    <h2>{{ .Title }}</h2>
    <hr>

    {{ $has_age := .Params.age }}
    {{ $has_pronouns := .Params.pronouns }}
    {{ $has_origin := .Params.origin }}

    {{ if or $has_origin (or $has_age $has_pronouns) }}
    <table>
        {{ if $has_age }}
        <tr>
            <th>Age</th>
            <td>{{ .Params.age }}</td>
        </tr>
        {{ end }}
        {{ if $has_pronouns }}
        <tr>
            <th>Pronouns</th>
            <td>{{ .Params.pronouns }}</td>
        </tr>
        {{ end }}
        {{ if $has_origin }}
        <tr>
            <th>Origin</th>
            <td>{{ .Params.origin }}</td>
        </tr>
        {{ end }}
    </table>
    <hr>
    {{ end }}

    {{ $paginator := .Paginate (where $.Site.Pages "Type" "art") }}
    {{ partial "art-gallery" . }}

    {{ $paginator := (where (where .RegularPagesRecursive "Type" "art") "Params.guest" "=" true) }}
    {{ if gt (len $paginator) 0 }}
        <h3>Guest Art</h3>
        <hr>
        <div class="second-grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

            {{ range $paginator }}
                {{ partial "render-art" . }}
            {{ end }}
        </div>
    {{ end }}

    {{ partial "gallery-js" . }}
{{ end }}
