{{/* Page layout used for the art commission page. */}}

{{ define "main" }}
    <h2>{{ .Title }}</h2>
    <hr>

    {{ $art_config := index $.Site.Data "art-config" }}
    {{ if $art_config.commissions }}
        <p>My commissions are currently <span id="commission-open">OPEN</span>!</p>
    {{ else }}
        <p>My commisions are currently <span id="commission-closed">CLOSED</span>!</p>
    {{ end }}

    <p>I accept commisions for artwork from time to time. You can only commission me through my <a href="https://www.pixiv.net/en/users/58118005/request">Pixiv</a>. If you have a Pixiv account, you can also get a notification when my commissions re-open.</p>

    <h3>Rules</h3>

    <p>¤ Requests in English, please. If you request in another language, I will use machine-translation. ¤

    <ul>
        <li>The artwork will be sketchy and grayscale. See the image above for examples.</li>
        <li>The time taken to draw is dependent on the complexity of the request. It can range from a couple of days to a week depending on my workload.</li>
        <li>No explicit R-18.</li>
        <li>See my <a href="/art">gallery</a> for an idea of what I typically draw.</li>
    </ul>

    You also agree to:
    <ul>
        <li>Give permission to post to my website/socials.</li>
        <li>To not remove my signature publicly. If you wish to remove it in private (for example, to use as a wallpaper) I don't mind.</li>
    </ul>

    <p>I will also give you the source file (.kra) on request along with an uncompressed PNG.</p>

    <h3>FAQ</h3>

    <b>Q: Why can I only commission on Pixiv?</b>

    <p>It handles payment and making sure you nor I skimp out on payment or work. I don't have the infrastructure and time to take it off that platform. If you are a prospective customer and <i>really</i> want me to use something else, please <a href="/contact">contact me</a> and I'll take it into consideration.</p>

    <b>Q: Can I request something anonymously?</b>

    <p>Yes, you can do that through Pixiv when requesting.</p>

    <b>Q: How do I send reference images or photos?</b>

    <p>This is a little confusing, but you have to send me a message. For some reason you can't attach images through the request form.</p>

    <h3>Previous Work</h3>

    <div class="grid-container">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>

            {{ $p := slice "commission" }}
            {{ range where .Site.RegularPages "Params.arttags" "intersect" $p }}
                {{ if not (.Params.guest) }}
                    {{ partial "render-art" . }}
                {{ end }}
            {{ end }}
        </div>
    </div>

    {{ partial "gallery-js" . }}

{{ end }}
