{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <hr>

    <div class="container">
        <div class="box">
            <h2>Character</h2>

            <img style="display: block; margin-left: auto; margin-right: auto;margin-bottom:10px;" src="char.png" />

            <table>
                <tr>
                    <th>Gender</th>
                    <td>Female♀</td>
                </tr>
                <tr>
                    <th>Race</th>
                    <td>Viera/Veena</td>
                </tr>
                <tr>
                    <th>Height</th>
                    <td>6' 3" (191 cm)</td>
                </tr>
                <tr>
                    <th>Nameday</th>
                    <td>14th Sun of the 4th Umbral Moon</td>
                </tr>
                <tr>
                    <th>City-state</th>
                    <td>Gridania</td>
                </tr>
                <tr>
                    <th>Guardian Deity</th>
                    <td>Nophica</td>
                </tr>
            </table>
        </div>

        <div class="box">
            <h2>Artwork</h2>

            {{ partial "art-section" . }}
        </div>
    </div>

    <style>
        .container {
            display: flex;
            column-gap: 15px;
        }

        .box {
            display: block;
            width: 100%;
            border: 1px solid gray;
            padding: 5px;
        }
    </style>
{{ end }}
