{{ define "main" }}
    <h2>{{ .Title }}</h2>

    {{ if in .File.Dir "blog" }}
        <p>
        Posted on
        <time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}" class="text-muted">
            {{ $.Date.Format "January 02, 2006" }}
        </time>
        (Updated on
        <time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}" class="text-muted">
            {{ $.Page.Lastmod.Format "January 02, 2006" }}
        </time>)
        </p>
    {{ end }}

    <div>
        {{ .Content }}
    </div>

    {{ partial "related" . }}

    {{ if in .File.Dir "blog" }}
        {{ partial "comments" . }}
    {{ end }}
{{ end }}
