{{ define "main" }}
    <h2>{{ .Title }}</h2>

    {{ if in .File.Dir "blog" }}
        <i style="margin: 0">
        Posted on
        <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted">
            {{ $.Date.Format "January 02, 2006" }}
        </time>
        (Updated on
        <time datetime="{{ .Page.Lastmod.Format "2006-01-02" }}" class="text-muted">
            {{ $.Page.Lastmod.Format "January 02, 2006" }}
        </time>)
        </i>
    {{ end }}

    <hr>

    {{ if .Params.toc }}
    <details>
        <summary>Table of Contents</summary>
        {{ .Page.TableOfContents }}
    </details>
    {{ end }}

    {{ .Content }}

    {{ partial "related" . }}

    {{ if in .File.Dir "blog" }}
        {{ partial "voting" . }}

        {{ partial "comments" . }}
    {{ end }}
{{ end }}
