{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <hr>

    <div class="container">
        <div class="box">
            <h2>Avatars</h2>

            <p>This is my own custom avatar, based off of my <a href="/art/characters/sakura">OC</a>:</p>

            <img style="display: block; margin-left: auto; margin-right: auto;margin-bottom:10px;" src="char.jpg" width=200 />
        </div>

        <div class="box">
            <h2>Favorite Worlds</h2>

            TODO!
        </div>
    </div>

    <style>
        .container {
            display: flex;
            column-gap: 15px;
        }

        .box {
            display: block;
            width: 100%;
            border: 1px solid gray;
            padding: 5px;
        }
    </style>
{{ end }}
