{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <hr>

    <h3># of Artworks by Year</h3>
    <ol>
    {{ range $.Param "years" }}
        {{ $year := .year }}
        {{ $num := .num }}
        <li><a href="/art/{{ $year }}">{{ $year }}</a> ({{ $num }} artworks)</li>
    {{ end }}
    </ol>

    <h3>Most Drawn Characters</h3>
    <ol>
    {{ range $.Param "characters" }}
        {{ $year := .name }}
        {{ $num := .num }}
        <li><a href="/art/characters/{{ urlize $year }}">{{ $year }}</a> ({{ $num }} artworks)</li>
    {{ end }}
    </ol>
{{ end }}
