{{ define "main" }}
    <h2>{{ .Title }}</h2>

    <hr>

    {{ .Content }}

    {{ $art := (index site.Data ($.Param "json")) }}
    {{ $newgrounds_icon := resources.Get "newgrounds.webp" }}

    {{ range $art.categories }}
        <h3>{{ .name }}</h3>
        <p>{{ .description }}</p>
        {{ range sort .years "year" "desc" }}
            <h4>{{ .year }}</h4>

            <div class="gallery">
                {{ range .pieces }}
                    <figure>
                        {{ $full := resources.Get (printf "%s/%s" ($.Param "json") .filename) }}

                        <audio controls src="{{ $full.Permalink }}" preload="metadata">
                            Your browser does not support audio.
                        </audio>

                        <figcaption>
                            "{{ .title }}"
                            {{ if .newgrounds_url }}
                                <a href="{{ .newgrounds_url }}" style="vertical-align: bottom"><img style="vertical-align: bottom" alt="Newgrounds Icon" width="19" height="19" src="{{ $newgrounds_icon.Permalink }}"></a>
                            {{ end }}
                        </figcaption>
                    </figure>
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
