{{/* Partial used to display a grid of artwork. */}}

{{ $paginator := .Paginate (where .RegularPagesRecursive "Type" "art") }}

{{ template "_internal/pagination.html" . }}
{{ $on_guest := eq .Title "Guest Art" }}

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>

    {{ range $paginator.Pages }}
        {{ $is_guest := .Params.guest }}
        {{ if eq $on_guest $is_guest }}
            {{ partial "render-art" . }}
        {{ end }}
    {{ end }}
</div>

{{ template "_internal/pagination.html" . }}
