<nav>
    <details id="nav-menu" open>
        <summary>Navigation</summary>
        {{ $icon := resources.Get "external-link.svg" }}

        {{ range .Site.Menus.main }}
            <div class="site-menu">
                <a href="{{ .URL  }}">{{ .Name }}{{ if strings.HasPrefix .URL "http" }}<img class="external-link" aria-hidden="true" alt="External link" width="16" height="16" src="{{ $icon.RelPermalink }}">{{- end -}}</a>
            </div>
        {{ end }}

        <hr>

        <ul class="nice-list">
            <li><a href="http://pux5gj5lnd6x4ztapmrqvvkihcfiq2lkz56yhalmvvskja6eqwdunwyd.onion/">Tor</a></li>
            <li><a href="http://retro.redstrate.com/">Retro</a></li>
        </ul>
    </details>
</nav>
